src/conf/xml-resources/web-service-references/AdminBean/wsdl/blackiris2_8080/AdminService/AdminBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.emse.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.emse.fr/" name="AdminService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.emse.fr/" schemaLocation="http://blackiris2:8080/AdminService/AdminBean?xsd=1"/>
</xsd:schema>
</types>
<message name="removeNote">
<part name="parameters" element="tns:removeNote"/>
</message>
<message name="removeNoteResponse">
<part name="parameters" element="tns:removeNoteResponse"/>
</message>
<message name="getNote">
<part name="parameters" element="tns:getNote"/>
</message>
<message name="getNoteResponse">
<part name="parameters" element="tns:getNoteResponse"/>
</message>
<message name="updateNote">
<part name="parameters" element="tns:updateNote"/>
</message>
<message name="updateNoteResponse">
<part name="parameters" element="tns:updateNoteResponse"/>
</message>
<message name="addItinerary">
<part name="parameters" element="tns:addItinerary"/>
</message>
<message name="addItineraryResponse">
<part name="parameters" element="tns:addItineraryResponse"/>
</message>
<message name="addNote">
<part name="parameters" element="tns:addNote"/>
</message>
<message name="addNoteResponse">
<part name="parameters" element="tns:addNoteResponse"/>
</message>
<message name="getNotes">
<part name="parameters" element="tns:getNotes"/>
</message>
<message name="getNotesResponse">
<part name="parameters" element="tns:getNotesResponse"/>
</message>
<message name="itineraries">
<part name="parameters" element="tns:itineraries"/>
</message>
<message name="itinerariesResponse">
<part name="parameters" element="tns:itinerariesResponse"/>
</message>
<message name="getItinerary">
<part name="parameters" element="tns:getItinerary"/>
</message>
<message name="getItineraryResponse">
<part name="parameters" element="tns:getItineraryResponse"/>
</message>
<message name="updateItinerary">
<part name="parameters" element="tns:updateItinerary"/>
</message>
<message name="updateItineraryResponse">
<part name="parameters" element="tns:updateItineraryResponse"/>
</message>
<portType name="AdminBean">
<operation name="removeNote">
<input wsam:Action="http://server.emse.fr/AdminBean/removeNoteRequest" message="tns:removeNote"/>
<output wsam:Action="http://server.emse.fr/AdminBean/removeNoteResponse" message="tns:removeNoteResponse"/>
</operation>
<operation name="getNote">
<input wsam:Action="http://server.emse.fr/AdminBean/getNoteRequest" message="tns:getNote"/>
<output wsam:Action="http://server.emse.fr/AdminBean/getNoteResponse" message="tns:getNoteResponse"/>
</operation>
<operation name="updateNote">
<input wsam:Action="http://server.emse.fr/AdminBean/updateNoteRequest" message="tns:updateNote"/>
<output wsam:Action="http://server.emse.fr/AdminBean/updateNoteResponse" message="tns:updateNoteResponse"/>
</operation>
<operation name="addItinerary">
<input wsam:Action="http://server.emse.fr/AdminBean/addItineraryRequest" message="tns:addItinerary"/>
<output wsam:Action="http://server.emse.fr/AdminBean/addItineraryResponse" message="tns:addItineraryResponse"/>
</operation>
<operation name="addNote">
<input wsam:Action="http://server.emse.fr/AdminBean/addNoteRequest" message="tns:addNote"/>
<output wsam:Action="http://server.emse.fr/AdminBean/addNoteResponse" message="tns:addNoteResponse"/>
</operation>
<operation name="getNotes">
<input wsam:Action="http://server.emse.fr/AdminBean/getNotesRequest" message="tns:getNotes"/>
<output wsam:Action="http://server.emse.fr/AdminBean/getNotesResponse" message="tns:getNotesResponse"/>
</operation>
<operation name="itineraries">
<input wsam:Action="http://server.emse.fr/AdminBean/itinerariesRequest" message="tns:itineraries"/>
<output wsam:Action="http://server.emse.fr/AdminBean/itinerariesResponse" message="tns:itinerariesResponse"/>
</operation>
<operation name="getItinerary">
<input wsam:Action="http://server.emse.fr/AdminBean/getItineraryRequest" message="tns:getItinerary"/>
<output wsam:Action="http://server.emse.fr/AdminBean/getItineraryResponse" message="tns:getItineraryResponse"/>
</operation>
<operation name="updateItinerary">
<input wsam:Action="http://server.emse.fr/AdminBean/updateItineraryRequest" message="tns:updateItinerary"/>
<output wsam:Action="http://server.emse.fr/AdminBean/updateItineraryResponse" message="tns:updateItineraryResponse"/>
</operation>
</portType>
<binding name="AdminBeanPortBinding" type="tns:AdminBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addItinerary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNotes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="itineraries">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItinerary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateItinerary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdminService">
<port name="AdminBeanPort" binding="tns:AdminBeanPortBinding">
<soap:address location="http://blackiris2:8080/AdminService/AdminBean"/>
</port>
</service>
</definitions>